.story {
    margin-bottom: 40px;
    display: table;
}

.story__image, .story__text {
    display: table-cell;
    vertical-align: top;
}

.story__image, .story__image img {
    width: 400px;
}

.story__image img {
    margin-right: 20px;
}

.story__image.story__image--mobile img {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}

.story__place {
    font-size: 16px;
    font-style: italic;
}

.story__desc {
    line-height: 1.5;
    margin-top: 10px;
}

.story__desc a {
    font-size: 18px;
}

.story__category {
    font-size: 18px;
    color: #61A2AF;
}

.story__image--mobile {
    display: none;
}

@media (max-width: 1024px) {
    .story__image, .story__image img {
        width: 320px;
    }
}

@media (max-width: 700px) {
    .story {
        display: block;
    }
    .story__text {
        display: block;
    }
    .story__image {
        display: none;
    }
    .story__image.story__image--mobile {
        display: block;
    }
    .story__image, .story__image img {
        width: 100%;
    }
}