.sentmessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sentmessage p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 755px) {
    .sentmessage img {
        width: 60%;
    }

    .sentmessage p {
        font-size: 20px;
    }
}