.workexp {
    margin-bottom: 20px;
    font-size: 18px;
}

.workexp__timeinterval {
    color: #8e939b;
    margin-top: 2px;
}

.workexp__subtitle {
    font-weight: 700;
}

@media (max-width: 991px) {
    .workexp__timeinterval {
        margin-bottom: 15px;
    }
}