.error-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 755px) {
    .error-wrap img {
        width: 70%;
    }
}

.error {
    color: #000;
    font-size: 120px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}