.hero {
    height: 256px;
    position: relative;
}

.hero.is-plain {
    height: auto;
}

.hero__item {
    float: left;
    height: 256px;
}

.hero__img {
    width: calc(100% - 816px);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero.is-plain .hero__img, .hero.is-plain .hero__about, .hero.is-plain .hero__notice, .hero.is-plain .hero__contacts {
    display: none;
}

.hero.is-plain .main-menu {
    text-align: center;
}

.hero.is-extended .hero__descr .main-menu {
    position: absolute;
    bottom: 14px;
}

.hero.is-plain .hero__descr .main-menu {
    margin-top: 20px;
}

.hero.is-plain .hero__descr {
    float: none;
    width: 100%;
}

.hero.is-plain .hero__item {
    height: auto;
}

.hero.is-plain .hero__author {
    text-align: center;
}

.hero__descr {
    background-color: #aaba4d;
    width: 816px;
    padding: 20px;
/*    padding-top: 40px;*/
    box-sizing: border-box;
    position: relative;
}

.hero__author span {
    display: inline-block;
    font-weight: bold;
}

.hero__name {
    background-color: #fff;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.hero__job {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero__about {
    margin-top: 27px;
    width: 60%;
    line-height: 1.5;
}

.hero__contacts {
    position: absolute;
    right: 20px;
    bottom: 13px;
    border-bottom: 1px dashed #000080;
}

@media (max-width: 1024px) {
    .hero__img {
        width: calc(100% - 710px);
    }
    .hero__descr {
        width: 710px;
    }
}

@media (max-width: 875px) {
    .hero__name {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .hero__about {
        width: 100%;
    }
    .hero__job {
        font-size: 1.2rem;
    }
    .hero__img {
        width: calc(100% - 570px);
    }
    .hero__descr {
        width: 570px;
    }
}

@media (max-width: 750px) {
    .is-extended .hero__job,
    .is-extended .hero__name {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .hero__name {
        width: 250px;
        margin-top: 10px;
    }
    .hero__about {
        margin-top: 20px;
    }
}

@media (max-width: 728px) {
    .is-extended .hero__author {
        margin-top: 20px;
    }
    .hero__contacts {
        display: none;
    }
    .hero__descr {
        width: 527px;
    }
    .hero__img {
        width: calc(100% - 527px);
    }
}

@media (max-width: 698px) {
    .is-extended .hero__author {
        text-align: center;
    }
    .hero__about span {
        display: none;
    }
    .hero__img {
        width: calc(100% - 432px);
    }
    .hero__descr {
        width: 432px;
    }
}

@media (max-width: 630px) {
    .is-plain .hero__author {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .hero.is-extended nav {
        display: none;
    }
    .hero__notice {
        display: none;
    }
    .hero__img .icon-hamburger {
        display: block;
    }
    .hero__img {
        width: calc(100% - 292px);
    }
    .hero__descr {
        width: 292px;
    }
}

@media (max-width: 450px) {
    .hero.is-plain nav {
        display: none;
    }
    .hero {
        height: auto;
    }
    .hero__item {
        float: none;
        height: auto;
    }
    .hero__img {
        display: none;
    }
    .hero__descr {
        width: 100%;
    }
    .hero__descr .icon-hamburger {
        display: block;
    }
    .hero__author h1 {
        text-align: center;
    }
}