.pagination-wrapper {
    text-align: center;
    padding: 14px 0 0;
    border-top: 1px solid #d8d8d8;
}

.achievements__content .pagination {
    margin-top: 0;
}

.pagination {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li:focus {
    outline: none;
}

.pagination>li>a, .pagination>li>span {
    border: 0;
    color: #000;
}

.pagination>li>a {
    border: 1px solid transparent;
}

.pagination>.active>a, .pagination>.active>a:visited, .pagination>.active>a:active {
    color: #000;
    border: 1px solid #e1e1e1;
    background-color: transparent;
}

.pagination>li>a:focus, .pagination>li>a:hover {
    border: 1px solid #eee;
    outline: none;
}

.pagination>.active>a:hover {
    background-color: #b1cee2;
    color: #fff;
    border: 1px solid #b1cee2;
}