html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.15;
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

a,
a:hover,
a:visited {
    color: #000;
}

a, a:visited {
    text-decoration: none;
}

h2 {
    margin-top: 2rem;
    font-size: 2rem;
    display: block;
    font-weight: bold;
}

h2 + p {
    margin-top: 1rem;
}

section p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.page-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.icon-close {
  background-position: 0 0;
  width: 40px;
  height: 40px;
  background-size: cover;
  display: block;
}

@media (max-width: 1220px) {
    article {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.contacts-form .btn {
    float: right;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #65b010;
    border: 0;
    color: #fff;
    width: 210px;
    height: 45px;
    cursor: pointer;
}

.form {
    background-color: #ececec;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.form {
    padding: 20px;
}

.form label {
    display: block;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 16px;
    height: 45px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.sidebar {
  width: 300px;
  background-color: rgba(0,0,0,0.85);
}

.sidebar__close {
  position: absolute;
  left: 27px;
  top: 30px;
  cursor: pointer;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}