.lang-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.lang-switch a {
    color: #000;
}

.lang-switch a:first-child {
    margin-right: 5px;
}

.lang-switch a:last-child {
    margin-right: 0;
}

.lang-switch a.is-active {
    text-decoration: underline;
}